{% extends 'base.html' %}
{% block title %}Cart{% endblock title %}
{% block body %}
    <h3>Your Cart:</h3>
<table class="table">
  <thead>
    <tr>
      <style>
th {
  text-indent: 70px;
}
</style>
      <th scope="col">Destination</th>
      <th scope="col">Tour quantity</th>
      <th scope="col">Price per person</th>
       <th scope="col">Total Price</th>

  </thead>
  <tbody>
    {% for tour in cart %}
    <tr>
      <style>
td {
  text-indent: 70px;
}
</style>
      <td>{{ tour.destination.name }}</td>
      <td>
        {{ tour.quantity }}
      </td><a href="{% url 'increment_quantity' tour.destination.id %}">
      <button class="btn btn-outline-primary btn-sm">+</button>
    </a>
      <td class="num">{{ tour.price }}</td>
      <td class="num">{{ tour.total_price }}</td>
      <td><a href="{% url 'remove-from-cart' tour.destination.id  %}">Discard</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock body %}