{% extends 'base.html' %}
{% block title %} Trip of my Dream {% endblock title %}
{% block body %}
<head>
<style>
div {
  padding-left: 30px;
  padding-bottom: 30px;
}
</style>
</head>
<head>
    <div>
    <h1>Add tour</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="file" name="product_image" accept="image/*">
        <input type="file" name="product_image" accept="image/*">
        <button type="submit">Create</button>
    </form>
    </div>
{% endblock body %}